#myList {
  border: 1px solid #dddddd;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#myList .list-group-item {
  border-left: none;
  border-right: none;
}
#myList .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}
#myList .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #dddddd;
  margin-bottom: -2px;
}
